.inputpassword {
  border-radius: 20%;
  font-size: 14px;
  line-height: 19px;
  color: black;
  background: var(--InputBgClr);
  border: none;
  padding: 17px 34px;
  min-width: 250px;
}
.inputpassword:focus {
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 1px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.459) inset;
}
.inputemail {
  border-radius: 28px;
  font-size: 14px;
  line-height: 19px;
  color: black;
  background: #f2f2f2;
  border: none;
  padding: 17px 34px;
  min-width: 250px;
}
.inputemail:focus {
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 1px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.459) inset;
}
.input:-webkit-autofill {
  border: hidden;
}
