<section class="card-container">
  <!--African-->
  <figure class="card">
    <img
      class="card-image"
      src="https://images.unsplash.com/photo-1582034986517-30d163aa1da9?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTQ3fHxhZnJpY2FuJTIwZm9vZHxlbnwwfDJ8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60
      "
      alt=""
    />
    <p class="card-text">Italian</p>
  </figure>

  <!--American-->

  <figure class="card">
    <img
      class="card-image"
      src="https://images.unsplash.com/photo-1561043433-9265f73e685f?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8MzB8fGFmcmljYW4lMjBmb29kfGVufDB8MnwwfA%3D%3D&auto=format&fit=crop&w=500&q=60
      "
      alt=""
    />
    <p class="card-text">Italian</p>
  </figure>

  <!--Spanish-->

  <figure class="card">
    <img
      class="card-image"
      src="https://images.unsplash.com/photo-1591535375570-5f70748e0569?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8cGFlbGxhfGVufDB8MnwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60
      "
      alt=""
    />
    <p class="card-text">Spanish</p>
  </figure>
</section>
